/*
Author: Aline Ferreira
14.Aug.2017
*/

//Color Schema
@import 'color';

//Fonts
@import 'fonts';

// Pre-sets
@import 'main';

//Header
@import 'header';

#trabalhe-conosco {

	.heading {
		margin: 50px 0 30px;

		@media (max-width: 767px) {
			margin-top: 80px;
		}
	}

	.form-col {
		.text {
			margin-bottom: 20px;
		}

		#formCurriculo {
			label {
				margin-top: 10px;
				display: block;
			}

			.btn-upload {
				color: $text_color;
				display: inline-block;
				border: 1px solid $medium_gray;
				padding: 8px 20px;
				margin: 10px 0;
				cursor: pointer;

				border-radius: 5px;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				-ms-border-radius: 5px;
				-o-border-radius: 5px;

				transition: all .5s;
				-webkit-transition: all .5s;
				-ms-transition: all .5s;
				-moz-transition: all .5s;
				-o-transition: all .5s;

				&:hover {
					color: $pure_white;
					background-color: $text_color;
					text-decoration: none;
				}

			}
			input[type=file] {
				display: none;
			}
			#btn-enviar {
				display: block;
				margin: 20px 0 25px;
				background-color: $main_color;
				border-color: $main_color;

				&:hover {
					background-color: lighten($main_color, 14%);;
				}
			}
		}
	}

	.job-item {
		position: relative;
		margin-bottom: 25px;
		cursor: pointer;
	    -webkit-box-shadow: 4px 8px 25px rgba(0, 1, 180, 0.15);
	    -moz-box-shadow: 4px 8px 25px rgba(0, 1, 180, 0.15);
	    box-shadow: 4px 8px 25px rgba(0, 1, 180, 0.15);
	    border: 1px solid #DDD;
	    padding: 10px 20px;
	    border-radius: 4px;
	    -webkit-border-radius: 4px;
	    -moz-border-radius: 4px;
	    -o-border-radius: 4px;
	    -ms-border-radius: 4px;

		.panel-heading {
			background-color: transparent;
		}

		a {
			text-decoration: none;
			display: table;
			width: 100%;

			i {
				margin-right: 10px;
				width: 20px;
				text-align: center;
			}

			.line {
				display: table;
				width: 100%;

				.job-title {
				    color: $text_color;
				    margin-top: 10px;
				    font-weight: bold;
				    text-transform: uppercase;
				    font-size: 13px;
				    display: block;
				    float: left;
				    margin-bottom: 5px;

				    @media (max-width: 767px) {
				    	float: none;
				    }

				    .code {
				    	font-size: 11px;
				    	color: $medium_gray;
				    	font-style: italic;
				    }			    
				}

				.date {
					font-size: 10px;
					color: $medium_gray;
					display: block;
					clear: both;
				}

				.job-type {
					position: absolute;
					right: 10px;
					top: 10px;
					font-size: 10px;
					text-transform: uppercase;
					color: $main_color;
					cursor: pointer;

					display: inline-block;
				    font-weight: bold;
				    height: 22px;
				    line-height: 20px;
				    padding: 0 15px;
				    border: 1px $lighter_gray solid;
				    -webkit-border-radius: 30px;
				    -moz-border-radius: 30px;
				    -ms-border-radius: 30px;
				    -o-border-radius: 30px;
				    border-radius: 30px;

				    transition: all .5s;
				    -webkit-transition: all .5s;
				    -moz-transition: all .5s;
				    -ms-transition: all .5s;
				    -o-transition: all .5s;

				    @media (max-width: 767px) {
				    	position: static;
				    	margin-bottom: 10px;
				    }
				    

				    &:hover {
				    	color: $pure_white;
				    	background-color: $main_color;
				    	border-color: $main_color;
				    }
				}

				.box-pcd {
					position: absolute;
					right: 10px;
					top: 40px;

					@media (max-width: 767px) {
				    	position: static;
				    	margin-bottom: 10px;
				    }

					.pcd {
						width: 30px;
						height: 30px;
						line-height: 30px;
						text-align: center;
						margin-right: 10px;
						font-size: 18px;
						color: $pure_white;
						background: #003F87;
						padding-left: 4px;
						border-radius: 50%;
						-webkit-border-radius: 50%;
						-moz-border-radius: 50%;
						-ms-border-radius: 50%;
						-o-border-radius: 50%;
					}

					.text-pcd {
						display: none;
						font-size: 12px;
						text-transform: uppercase;
						color: $text_color;

						@media(max-width: 767px) {
							display: inline-block;
						}
					}
				}

			}		

			.job-sallary,
			.job-location {
				color: lighten($space_gray, 14%);
			}

			.job-sallary {			
				i {
					color: #4a98ae;
				}
			}

			.job-location {
				i {
					color: $main_color;
				}
			}
		}
	}
}

//Footer
@import 'footer';


